In [1]:
import numpy as np
import pandas as pd

In [11]:
score_labels=pd.read_csv(r'C:\Users\91852\OneDrive\Desktop\ff.csv')
parsed_logs=pd.read_csv(r"C:\Users\91852\Downloads\ParsedLogs.csv")
cluster_number=pd.read_csv(r"C:\Users\91852\OneDrive\Desktop\cl_number.csv")

In [12]:
score_labels.head()

       score  labels
0  33.212301       1
1  17.342813       0
2  21.872133       0
3  67.299796       1
4  33.212301       1

In [13]:
score_labels['score']

0        33.212301
1        17.342813
2        21.872133
3        67.299796
4        33.212301
           ...
25562    17.342813
25563    17.342813
25564    46.286474
25565    27.275377
25566    30.434654
Name: score, Length: 25567, dtype: float64

In [14]:
parsed_logs.head()

                      id,message,@version,@timestamp
0  3y51c38BQ2yDyGVTnYjI,kernel audit,1,2022-03-10...
1  4C51c38BQ2yDyGVTnYjI,kernel,1,2022-03-10T10:52...
2  4S51c38BQ2yDyGVTnYjI,kernel Extensions device ...
3  4i51c38BQ2yDyGVTnYjI,kernel tunneling driver,1...
4  4y51c38BQ2yDyGVTnYjI,kernel audit,1,2022-03-10...

In [15]:
parsed_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25567 entries, 0 to 25566
Data columns (total 1 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id,message,@version,@timestamp  25567 non-null  object
dtypes: object(1)
memory usage: 199.9+ KB

In [16]:
d=parsed_logs['id,message,@version,@timestamp'].str.split(',',expand=True)

In [17]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25567 entries, 0 to 25566
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       25567 non-null  object
 1   1       25567 non-null  object
 2   2       25567 non-null  object
 3   3       25567 non-null  object
dtypes: object(4)
memory usage: 799.1+ KB

In [21]:
cluster_number.head()

   0
0  0
1  1
2 -1
3 -1
4  0

In [22]:
id=d[0].tolist()
message=d[1].tolist()
timestamp=d[3].tolist()

In [11]:
len(id)

25567

In [12]:
len(message)

25567

In [13]:
len(timestamp)

25567

In [23]:
dict={"id":d[0].tolist(),"Message":d[1].tolist(),"Time Stamp":d[3].tolist(),"Score":score_labels['score'].tolist(),"Cluster_number":cluster_number['0'].tolist(),"labels":score_labels['labels'].tolist()}

In [24]:
df=pd.DataFrame.from_dict(dict)

In [25]:
df.head()

,id,Message,Time Stamp,Score,Cluster_number,labels
0,3y51c38BQ2yDyGVTnYjI,kernel audit,2022-03-10T10:52:41.313Z,33.212301,0,1
1,4C51c38BQ2yDyGVTnYjI,kernel,2022-03-10T10:52:41.313Z,17.342813,1,0
2,4S51c38BQ2yDyGVTnYjI,kernel Extensions device dblo,2022-03-10T10:52:41.313Z,21.872133,-1,0
3,4i51c38BQ2yDyGVTnYjI,kernel tunneling driver,2022-03-10T10:52:41.313Z,67.299796,-1,1
4,4y51c38BQ2yDyGVTnYjI,kernel audit,2022-03-10T10:52:41.350Z,33.212301,0,1

In [26]:
df.to_csv(r'C:\Users\91852\OneDrive\Desktop\final_file.csv')